#sign-container {
    position: fixed;
    left: 0;
    top: 60px;
    width: 1920px;
    height: 1080px;
	background-color: #fff;
}

#sign-container h1 {
    margin: 30px;
    margin-bottom: 5px;
}

#sign-container .item-subtitle {
    margin-left: 30px;
}

#sign-container #STP--Product-Image {
    float: left;
    margin-top: 105px;
    width: 762px;
}

#sign-container .pricing-details {
    margin-left: 1060px;
}

#sign-container .stp--price.large, #sign-container .stp--price-original.large, #sign-container .stp--price-discounted.large {
    font-size: 75px;
}

#sign-container .units {
    font-size: 25px;
}

#sign-container .product-details-mini, #sign-container .item-promo {
    margin-left: 1060px;
}

#action-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 1920px;
    height: 60px;
    background-color: #333333;
    color: #eeeeee;
}