#sign-container {
    position: fixed;
    left: 0;
    top: 60px;
    width: 1920px;
    height: 1080px;
	background-color: #fff;
}

#sign-container h1 {
    margin: 30px;
    margin-bottom: 5px;
}

#sign-container .item-subtitle {
    margin-left: 30px;
}

#sign-container #STP--Product-Image {
    float: left;
    margin-top: 105px;
    width: 762px;
}

#sign-container .pricing-details {
    margin-left: 1060px;
}

#sign-container .stp--price.large, #sign-container .stp--price-original.large, #sign-container .stp--price-discounted.large {
    font-size: 75px;
}

#sign-container .units {
    font-size: 25px;
}

#sign-container .product-details-mini, #sign-container .item-promo {
    margin-left: 1060px;
}

#action-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 1890px;
    height: 30px;
    background-color: #333333;
    color: #eeeeee;
    z-index: 50;
    padding: 15px;
    font-size: 30px;
}

#action-bar button {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    background-color: #f0ad4e;
    border: 1px solid #eea236;
    float: right;
}

#action-bar button:hover, #action-bar button:active {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

#action-bar button:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}